
  .news-posts {
    margin-top: 30px;
    display: flex; 
    flex-direction: column;
    gap: 30px;
  }
  .news-post {
    display: flex;
    gap: 10px;
  }
  
    .news-img {
      flex: 0.3;
      position: relative;
    }
    .news-img{
        border-radius: 0.25rem !important;
    }
   
      .news-content {
        flex: 3;
        display: flex;
        flex-direction: column;
      }
      .newsTitle {
        font-size: 16px;
        font-weight: 400;
        width: 150px;
        color: rgba(255, 255, 255, 0.7);
        }
        .newsTitle:hover{
        color:#ffd369;
      }
        .news-para1 {
            font-size: 11px;
          /* display: inline-block; */
          /* margin-bottom: 10px; */
          /* font-weight: 500; */
          color: gray;
          text-transform: uppercase;
        }
  .news-para2{
    
      font-size: 11px;
      /* display: inline-block; */
      /* margin-bottom: 10px; */
      /* font-weight: 500; */
      color: gray;
      text-transform:none;
    
  }
  