
  .login-form {
    background-color: white;
    width: 18rem;
    margin: auto;
    /* text-align:center; */
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  /* input{
    height: 25px;
    border: 1px solid #000;
  }
 
  button{
    margin-top: 2rem;
  } */