.footer{
    width: 100%;
    padding-block: 1.5rem;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    /*  */
    background: #222831;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer_box{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.3fr repeat(2, 1fr) 2fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem   ;
}

/* Social */
.footer_social{
    display: flex;
    gap: 1.3rem;
    font-size: 1.5rem;
    align-items: center;
}
.footer_social a{
    padding: .5rem;
    color: white;
    background-color: #383f47;
    /* border: 1px solid gray; */
    border-radius: 50%;
    transition: all .3s ease-in;
    display: grid;
}
.footer_social a :hover{
color: #ffd369;
}

.footer_title{
    color: #fff;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
    margin-block-end: 0.83em;
}


/* Media Query */
@media screen and (max-width: 57em ) {
    .footer_box {
        width: fit-content;
        grid-template-columns: 1fr 2fr;
    }
}
@media screen and (max-width: 47em) {
    .footer_box {
    width: fit-content;
    grid-template-columns: 1fr ;
}
}
@media screen and (max-width: 35em) {
    .footer_box {
    width: fit-content;
    grid-template-columns: 1fr;
}
}