ul{
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .media-social{
    opacity: 1;
    transition: all 0.3s ease;
  }
  .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.media-social li{
  list-style: none;
  margin: 0 5px 0 0;
  display: inline-block;
}

.media-social li a {
height: 50px;
width: 50px;
display: block;
background: rgba(0, 0, 0, 0.05);
border-radius: 4px;
position: relative;
color: #000000;
}
.media-social li a:hover{
background: #ffd369;
}
a{
transition: .3s all ease;
text-decoration: none;
cursor: pointer;
}
.media-social li a span {
position: absolute;
font-size: 20px;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}



